{{#mdl-nav title="Eop's Pizzaria" fixedHeader=true}}
  {{mdl-nav-item name='Past Orders'   route='pizzas'}}
  {{mdl-nav-item name='Order a Pizza'   route='new-pizza'}}
  {{mdl-nav-item name='Our Menu'   route='menu'}}
  <div class="mdl-grid">
  	<div class="mdl-cell mdl-cell--12-col">
     {{outlet}}
	</div>
  </div>
{{/mdl-nav}}
<!--https://www.google.com/design/icons/-->
